Repository wuxudongxd/simple-jira: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint -c .eslintrc.js src --fix, prettier --write

feat: add md5Pwd and jwt in jira-dev-tool
  packages/jira-dev-tool/package.json
  packages/jira-dev-tool/src/index.ts
  packages/jira-dev-tool/src/mocks/handlers.ts
  pnpm-lock.yaml
  src/hooks/useAuth.ts
  src/screens/unauthenticated-app/login.tsx
  src/screens/unauthenticated-app/register.tsx
  src/types/index.ts
Due: eslint -c .eslintrc.js src --fix, prettier --write

fix bugs
  packages/jira-dev-tool/package.json
  packages/jira-dev-tool/src/mocks/handlers.ts
  pnpm-lock.yaml
  src/App.tsx
  src/screens/unauthenticated-app/login.tsx
  src/screens/unauthenticated-app/register.tsx
  src/utils/auth-provider.ts
Due: eslint -c .eslintrc.js src --fix, prettier --write

fix bugs of using react query
  packages/jira-dev-tool/src/mocks/handlers.ts
  src/App.tsx
  src/utils/auth-provider.ts
Due: eslint -c .eslintrc.js src --fix, prettier --write

feat：optimize auth logic
  src/App.tsx
Due: none

fix: fix bug of using useQueryClient in conditions logic
  src/screens/unauthenticated-app/login.tsx
  src/screens/unauthenticated-app/register.tsx
Due: none

feat: remove login、register mutation to useAuth
  src/hooks/useAuth.ts
  src/screens/unauthenticated-app/login.tsx
  src/screens/unauthenticated-app/register.tsx
Due: eslint -c .eslintrc.js src --fix, prettier --write

feat: move useAuth logic from App.tsx to hooks/useAuth.tsx
  src/App.tsx
  src/hooks/useAuth.ts
  src/hooks/useHttp.ts
Due: eslint -c .eslintrc.js src --fix, prettier --write

feat: add hooks lint plugin and react-router react-router-dom
  .eslintrc.js
  package.json
  packages/jira-dev-tool/src/mocks/handlers.ts
  pnpm-lock.yaml
  src/assets/software-logo.svg
  src/hooks/useAuth.ts
Due: eslint -c .eslintrc.js src --fix, prettier --write

🦄 refactor: 调整了一些内容
  package.json
  packages/core/package.json
  packages/core/src/App.tsx
  packages/core/src/components/business/id-select.tsx
  packages/core/src/components/business/pin.tsx
  packages/core/src/components/business/user-select.tsx
  packages/core/src/components/common/error-boundary.tsx
  packages/core/src/hooks/http/useProjects.ts
  packages/core/src/utils/url.ts
  packages/core/src/views/authenticated-app.tsx
  packages/core/src/views/project/list/Modal.tsx
  packages/core/src/views/project/list/Search.tsx
  packages/core/src/views/project/list/index.tsx
  packages/core/src/views/project/list/list.tsx
  packages/global.d.ts
  pnpm-lock.yaml
Due: eslint -c .eslintrc.js src --fix, prettier --write

🦄 refactor: 使用字符串替代{"字符串"}
  packages/core/src/views/project/list/Search.tsx
  packages/core/src/views/unauthenticated-app/index.tsx
  packages/core/src/views/unauthenticated-app/login.tsx
  packages/core/src/views/unauthenticated-app/register.tsx
Due: none

🦄 refactor: 去除LongButton封装
  packages/core/src/views/unauthenticated-app/login.tsx
  packages/core/src/views/unauthenticated-app/register.tsx
Due: none

🦄 refactor: 调整文件结构
  packages/core/src/App.tsx
  packages/core/src/utils/optimistic-options/index.ts
  packages/core/src/utils/optimistic-options/reorder.ts
  packages/core/src/views/authenticated-app.tsx
  packages/core/src/views/project/Item/board/column.tsx
  packages/core/src/views/project/Item/board/index.tsx
  packages/core/src/views/project/Item/board/methods.ts
  packages/core/src/views/project/Item/board/util.ts
  packages/core/src/views/project/Item/index.tsx
  packages/core/src/views/project/index.tsx
  packages/core/src/views/project/list/Search.tsx
  packages/core/src/views/project/list/index.tsx
  packages/core/src/views/unAuth/index.tsx
  packages/core/src/views/unAuth/login.tsx
  packages/core/src/views/unAuth/register.tsx
Due: eslint -c .eslintrc.js src --fix, prettier --write

🐞 fix: 完成project list部分
  packages/core/package.json
  packages/core/src/hooks/http/useProjects.ts
  packages/core/src/views/project/index.tsx
  packages/core/src/views/project/list/Modal.tsx
  packages/core/src/views/project/list/Search.tsx
  packages/core/src/views/project/list/index.tsx
  packages/jira-dev-tool/src/mocks/handlers.ts
  pnpm-lock.yaml
Due: eslint -c .eslintrc.js src --fix, prettier --write

✨ feat: 初步添加board界面
  packages/core/package.json
  packages/core/src/components/business/epic-select.tsx
  packages/core/src/components/business/task-type-select.tsx
  packages/core/src/components/common/drag-and-drop.tsx
  packages/core/src/components/common/mark.tsx
  packages/core/src/components/lib.tsx
  packages/core/src/components/project-popover.tsx
  packages/core/src/components/user-popover.tsx
  packages/core/src/hooks/http/index.ts
  packages/core/src/hooks/http/useBoard.ts
  packages/core/src/hooks/http/useEpics.ts
  packages/core/src/hooks/http/useTask.ts
  packages/core/src/types/index.d.ts
  packages/core/src/views/project/Item/board/CreateBoard.tsx
  packages/core/src/views/project/Item/board/Modal.tsx
  packages/core/src/views/project/Item/board/Search.tsx
  packages/core/src/views/project/Item/board/column.tsx
  packages/core/src/views/project/Item/board/createTask.tsx
  packages/core/src/views/project/Item/board/index.tsx
  packages/core/src/views/project/Item/board/util.ts
  packages/core/src/views/project/Item/index.tsx
  packages/core/src/views/project/index.tsx
  pnpm-lock.yaml
Due: eslint -c .eslintrc.js src --fix, prettier --write

🐞 fix: 先改到这吧，累了
  packages/core/TODO.md
  packages/core/src/components/common/drag-and-drop.tsx
  packages/core/src/views/project/Item/board/column.tsx
  packages/core/src/views/project/Item/board/index.tsx
Due: prettier --write

📃 docs: update README.md
  README.md
Due: prettier --write

Path conditions:
  eslint -c .eslintrc.js src --fix: any of: *.{ts,js}
  prettier --write: any of: *.{ts,js,json,html,yml,css,less,scss,md}
